<div class="container">
  <button (click)="toggleThemeSwitcher()">Conf Style</button>

  <button><a href="http://localhost:4200?client=2dc4002e-7ecf-4c45-95d0-91b0ce58521c">Client 01</a></button>
  <button><a href="http://localhost:4200?client=e965833d-fbfc-4349-83db-399ea3a3840d">Client 02</a></button>

  <app-theme-picker *ngIf="isSwitcherShown"></app-theme-picker>

  <div class="theme-wrapper">
    <app-navigation></app-navigation>
    <app-card></app-card>
    <app-footer></app-footer>
  </div>
</div>
